html, body {
  margin: 0;
  padding: 0;
  background-color: hsl(45, 10%, 85%);
}

* {
  font-family: 'Exo 2', sans-serif;
  box-sizing: border-box;
}

.container {
  min-height: 600px;
  background-color: inherit;
}

h1, h2, h3 { 
  width: 100%;
}

h1 { font-size: 2em; margin: 5px 0 15px 0;}
h2 { font-size: 1.5em; margin: 5px 0 12px 0;}
h3 { font-size: 1.17em; margin: 5px 0 10px 0;}

a {
  text-decoration: none;
  color: black;
}

p {
  text-align: justify;
  text-indent: 0.75em;
  margin: 0.3em 0;
}

.game_name {
  display: flex;
  width: 100%;
  height: 120px;
  flex-flow: row wrap;
  align-content: center;
  background-color: #DBE0FF;
}

.game_name > a, a > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game_name > a {
  width: 100%;
  height: 100%;
}

a > h1 {
  height: 50px;
  flex-flow: row nowrap;
}

.test {
  padding-left: 20px;
  margin-bottom: 8px;
  font-size: 2.5em;
}

.hide_show {
  display: flex;  
  width: 100%;
  height: 3.5em;
  justify-content: center;
  align-items: center;
  background-color: hsl(165, 40%, 50%);
}

.hide_show > span {
  font-size: 1.75em;
}

main {
  display: flex;
  flex-flow: row wrap;
  padding: 0 10px;
  margin-bottom: 60px;
}

.description {
  display: flex;
  flex-flow: row wrap;
}

sidebar, .Record {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 200px;
  min-height: 450px;
  height: auto;
}

sidebar {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 200px;
  justify-content: center;
  align-content: center;
}

h3 {
  display: flex;
  justify-content: center;
  
  background-color: #B4CC68;
}

.btn {
  width: 45%;
  height: 2em;
  font-size: 24px;
  background-color: #DDDBD5;
}

.btn:first-of-type {
  color: #131440;
}

.btn:last-of-type {
  color: #801721;
}

section, .rowOption, .rowRecord {
  margin: 10px 5px;
}

input[type='radio'] {
  display: inline-block;
  float: left;
}

ul {
  margin: 6px 0;
}

li {
  line-height: 1.25em;
  list-style-type: square;
}


.Sudoku {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 400px;
}

.gamespace {
  display: flex;
  height: 100%;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
  border: 2px solid black;
}

.squares {
  display: flex;
  height: auto;
  width: 40px;
  background-color: rgba(237, 198, 123, 0.55);
}


.Record {
  
}

.watch, .ranking {
  width: auto;
  height: auto;
  margin-top: 5px;
  border: 1px solid black;
}

.watch {
  
}

.ranking {
  
}

sidebar, .Record, .rowOption, .rowRecord {
  background-color: #BFB575;
}

table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1.4em;
}

td {
  height: 30px;
  background-color: transparent;
  border: 1px solid black;  
}

td:first-of-type {
  width: 10%;
  text-align: right;
}

footer {
  position: fixed;
  width: 100%;
  height: 2.25em;  
  bottom: 0;
  left: 0;
  font-size: 1.3em;
  background-color: beige;
}

footer > span {
  padding: 5px;
  font-style: italic;
}

@media screen and (max-width: 400px) {
  body, html {
    font-size: 14px;
  }
  
  h1 { font-size: 1.4em; }
  h2 { font-size: 1.2em; }
  h3 { font-size: 1em; }
    
  main {
    padding: 0 8px;
  }
  
  .test_name {
    height: 100px;
  }
}