html, body {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

* {
	font-family: 'Exo 2';
	box-sizing: border-box;
}

.container {
	width: 100%;
	margin-bottom: 50px;
	background: linear-gradient(0deg, hsl(60, 29%, 55%) 0%, hsl(60, 35%, 51%) 100%);
}

h1, h2 {
	width: 100%;
	margin: 5px 0;
	color: hsl(283, 100%, 20%);
}

h1 {
	min-height: 60px;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}

a {
	text-decoration: none;
	color: black;
}

p {
	text-align: justify;
	text-indent: 1rem;
	line-height: 1.5rem;
	margin: 0.25rem 0;
}

.main-header {
	flex: 1 0 100%;
	height: auto;
	flex-flow: row nowrap;
	align-content: center;
	background-color: hsl(42, 94%, 60%);
}

.main-header * {
	display: flex;
}

.main-header > a {
	width: 100%;
	height: 100%;
}

h1 > img {
	height: 90%;
	margin: 0 0.8rem;
}

.game-name {
	font-size: 5.125rem;
}

.hide-show {
	width: 100%;
	height: 3.5rem;
	justify-content: center;
	align-items: center;
	border-width: 0;
	background-color: hsl(330, 79%, 25%);
}

.hide-show > span {
	font-size: 1.6rem;
	color: hsl(42, 94%, 70%);
}

main, article, .description {
	display: flex;
	flex-flow: row wrap;
}

main {
	padding: 5px;
	margin-bottom: 10px;
}

.description {
	margin-bottom: 20px;
}

.rules {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	margin: 5px 0;
}

.animations * {
	padding: 5px;
}

ul {
	display: block;
	width: auto;
	padding: 0 1.5rem;
	margin: 0;
}

li {
	margin: 5px 0;
}

.panel {
	flex: 1 1 150px;
	height: auto;
	padding: 10px 5px;
	background-color: hsl(58, 26%, 70%);
}

.panel > h2 {
	display: flex;
	margin-bottom: 15px;
	justify-content: center;
	align-items: center;
	line-height: 2rem;
	background: linear-gradient(to bottom, hsl(60, 29%, 65%) 0%, hsl(261, 77%, 43%) 50%, hsl(60, 29%, 65%) 100%);
	color: hsl(60, 85%, 50%);
}

.options, .menu > p {
	padding: 0 5px;
}

.titles {
	width: 100%;
	display: inline-block;
	font-size: 1.25rem;
	margin-bottom: 6px;
	line-height: 1.75rem;
	background: linear-gradient(to right, hsl(46, 14%, 90%) 0%, hsl(58, 25%, 70%) 100%);
}

.options:not(.buttons) {
	display: block;
	width: 100%;
	height: 60px;
	margin: 10px 0;
}

form {
	max-width: 15rem;
	height: auto;
}

.gameopt {
	display: inline-block;
	height: 1rem;
	cursor: pointer;
	line-height: normal;
}

input[type='radio'] {
	display: none;
}

.gameopt:before {
	content: "";
	display: inline-flex;
	width: 1.125rem;
	height: 1.125rem;
	margin-right: 4px;
	justify-content: center;
	background-color: #7248B2;
	color: #fcfc06;
	font-size: 30px;
	border-radius: 50%;
}

input[type=radio]:checked + .gameopt:before {
	content: "\2022";
}

.level-list, th, td, option {
	font-size: 1.25rem;
}

.buttons {
	display: flex;
	width: 100%;
	height: auto;
	justify-content: center;
	align-items: center;
	margin: 15px 0 5px 0;
}

.buttons > button {
	width: 100px;
	height: 50px;
	margin: 10px 5px;
	border: 3px solid hsl(228, 52%, 40%);
	border-radius: 10px;
	background: radial-gradient(ellipse at center, rgba(197, 208, 217, 1) 35%, rgba(84, 107, 255, 1) 100%);
}

.buttons > button:hover {
	border: 3px solid hsl(228, 52%, 60%);
	background: radial-gradient(ellipse at center, hsl(207, 82%, 83%) 50%, hsl(232, 100%, 55%) 100%);
}

.click {
	display: inline-flex;
	font-size: 2rem;
	padding: 3px 0;
}

.start {
	color: #131440;
}

.reset {
	color: #801721;
}

.sudoku {
	margin: 10px auto;
	height: 90vw;
	width: 90vw;
}

.gamespace {
	height: 100%;
	width: 100%;
  background: url(/example.svg);
  background-size: cover; 
}

.gamespace, .squares {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.squares {
	height: 10vw;
	width: 10vw;
	border: thin solid black;
	background-color: rgb(220, 215, 199);
}

.squares > span {
	display: flex;
	align-self: center;
	font-size: 1.75rem;
}

table {
	min-width: 200px;
	max-width: 250px;
	width: 80%;
	margin: 15px auto;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 1.35rem;
}

th {
	height: 2.25rem;
	padding: 5px;
}

td {
	height: 1.75rem;
	background-color: hsl(46, 23%, 82%);
	border: 1px solid black;
}

.timer {
	text-align: center;
	border: 1px solid black;
}

.record td:first-child {
	width: 15%;
	padding-right: 3px;
	text-align: right;
}

footer {
	position: fixed;
	width: 100%;
	height: 50px;
	bottom: 0;
	left: 0;
	font-size: 1.25rem;
	background-color: hsl(60, 18%, 44%);
}

footer > span {
	display: block;
	padding: 5px;
	font-style: italic;
}

@media screen and (min-width: 300px) and (max-width: 360px) {	
	.hide-show > span {
		font-size: 1.4rem;
	}	
}

@media screen and (min-width: 300px) and (max-width: 480px) {
	.panel p, table {
		font-size: 1.125rem;
	}
	
	.short {
		display: none;
	}
}

@media screen and (min-width: 360px) and (max-width: 480px) {
	.gameopt {
		font-size: 1.125rem;
	}
	
	.options:not(.buttons) {
		width: 50%;
		float: left;
	}	
}

@media screen and (min-width: 480px) and (max-width: 720px) {
	body, html {
		font-size: 14px;
	}
	
	main {
		padding: 10px;
	}

	.panel {
		flex: 1;
	}

	.buttons {
		margin: 10px 0 5px 0;
	}

	.buttons > button {
		width: 95px;
		margin: 5px;
	}

	.buttons span {
		font-size: 26px;
	}

	.menu {
		border-right: thin solid hsl(43, 80%, 32%);
		order: 2;
	}
	
	.options:not(.buttons) {
		width: auto;
		min-height: 75px;
		clear: both;
	}

	.tabels {
		order: 3;
	}

	.sudoku {
		max-width: 600px;
		max-height: 600px;
		margin: 20px auto;
		order: 4;
	}

	.half {
		display: none;
	}
}

@media screen and (min-width: 720px) {
	html,	body {
		font-size: 16px;
	}

	main {
		margin-bottom: 80px;
		padding: 15px;
	}

	.description {
		order: 1;
	}

	.menu {
		order: 2;
	}

	.sudoku {
		height: 450px;
		order: 3;
	}
	
	.tabels {
		order: 4;
	}
	
	.squares {
		height: calc(100% / 9);
		width: calc(100% / 9);
	}

	.options:not(.buttons) {
		height: 90px;
	}
	
	.buttons {
		flex-flow: column nowrap;
		margin: 10px 0;
	}

	.buttons > button {
		width: 125px;
		margin: 10px;
	}
	
	footer {
		height: 60px;
	}

	footer > span {
		padding: 10px;
	}
}

@media screen and (min-width: 720px) and (max-width: 959px) {
	.hide-show {
		display: none;
	}

	.description {
		flex: 1 1 420px;
	}
	
	.description, .menu {
		margin-bottom: 20px;
	}

	.sudoku {
		flex: 0 1 450px;
	}
	
	.panel {
		flex: 0 1 220px;
		margin-left: 15px;
	}
}

@media screen and (min-width: 960px) {
	.container {
		width: 960px;
		margin: 0 auto -40px;
	}

	.panel, .sudoku {
		flex-flow: row wrap;
	}

	.sudoku {
		width: 450px;
		margin: 0 10px;
	}
/*

	.gamespace {
		height: 100%;
		width: 100%;
	}
*/
}